<div class="card bg-dark text-white">
  <img class="card-img" src="assets/img/marvel.jpg" alt="Card image">
  <a routerLink="/characters" class="without-line card-img-overlay text-center">
    <h5 class="card-title">HEROES</h5>
    <p class="card-text">You can find all marvel heroes</p>
    <p class="card-text">just go to search section and try with "spider-man"</p>
    <p class="card-text">And know all about your favorites Marvel heroes</p>
  </a>
</div>

<div class="card bg-dark text-white my-5">
  <img class="card-img" src="assets/img/spider.jpg" alt="Card image">
  <a routerLink="/comics" class="without-line card-img-overlay d-flex flex-column justify-content-center">
    <h5 class="card-title">Comics</h5>
    <p class="card-text">Because not everything are movies...</p>
  </a>
</div>